
@page "/"

@inherits ProductsBase

@if(Products == null){

    <DisplaySpinner />
}else{
   
    <h3 class="mb-5">Products</h3>
    var productCount = Products.Count();
    @if(productCount > 0)
    {
        


        @foreach (var proGroup in GetGroupedProductsByCategory())
        {

                <h4> @GetCategoryName(proGroup)</h4>
                  <div class="row mt-3">
               <DisplayProducts Products="@proGroup.Take(4)"></DisplayProducts>
                  </div>
                  <hr class="mb-3"/>
        }
              
        
    }
}
 

